@import 'fk_styles/imports/color';

$default-border-size: 1px;
$default-border-color: black;

.border{ border:$default-border-size solid $default-border-color; }

.top{ vertical-align:top !important; }
.middle{ vertical-align:middle !important; }
.bottom{ vertical-align:bottom !important; }

.bold{font-weight:bold !important;}

.pointer{cursor:pointer;}

.max-width{width:100%;}
.half-width{width:50%;}

.max-height{height:100%;}
.half-height{height:50%;}

.hide{display:none;}
.inline{display:inline;}
.block{display:block;}

.relative{position:relative;}
.fixed{position:fixed;}
.absolute{position:absolute;}

.float-left{float:left;}
.float-right{float:right;}

.no-margin{margin:0px !important;}
.no-padding{padding:0px !important;}

.no-wrap{white-space:nowrap !important;}

th.current{
  background-repeat:no-repeat;
  background-position:right center;
}

th.asc, th.ASC{
  padding-right:24px !important;
  background-image: image-url("direction/up.png");
}
th.desc, th.DESC{
  padding-right:24px !important;
  background-image: image-url("direction/down.png");
}

.shadow{
  -moz-box-shadow:  1px 1px 3px 1px rgba(11, 34, 170, .5);
  -ms-box-shadow:  1px 1px 3px 1px rgba(11, 34, 170, .5);
  -o-box-shadow:  1px 1px 3px 1px rgba(11, 34, 170, .5);
  -webkit-box-shadow:  1px 1px 3px 1px rgba(11, 34, 170, .5);
          box-shadow:  1px 1px 3px 1px rgba(11, 34, 170, .5);
}

.half-rounded-corners{
  -webkit-border-radius: 5px 0px 5px 0px;
          border-radius: 5px 0px 5px 0px;
}

.text-green{color:green;}
.text-red { color: $red; }
.text-yellow{color:gold;}
.text-brown{color:#a35c33;}
.text-blue{color:#0b22aa;}
.text-gray{ opacity: 0.75; }

.green{
  border-color:#0c0;
  color:#0c0;
}

.red{
  border-color:#C00;
  color:#C00;
}

.grey{
  border-color:#CCC;
  color:#CCC;
}

/* Coloring used for differences: */
ins{color:green;}
del{color:red;}

tr.strikethrough td{
  text-decoration: line-through;
}

.key{
  width:20px;
}

.footnote{
  font-size:8pt;
  color:#666;
}

.translate-center{
  position:absolute !important;
  top:50% !important;
  left:50% !important;
  -webkit-transform:translate(-50%,-50%);
  -moz-transform:translate(-50%,-50%);
  -ms-transform:translate(-50%,-50%);
  -o-transform:translate(-50%,-50%);
  transform:translate(-50%,-50%);
}

.icon-spin{
  -o-animation:spin 1s linear infinite;
  -ms-animation:spin 1s linear infinite;
  -webkit-animation:spin 1s linear infinite;
  -moz-animation:spin 1s linear infinite;
  animation:spin 1s linear infinite;
}

.flip-horizontally{
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

.flip-vertically{
  -moz-transform: scale(1, -1);
  -webkit-transform: scale(1, -1);
  -o-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1);
}

.flip-both{
  -moz-transform: scale(-1, -1);
  -webkit-transform: scale(-1, -1);
  -o-transform: scale(-1, -1);
  -ms-transform: scale(-1, -1);
  transform: scale(-1, -1);
}

@-ms-keyframes spin { 100% { -ms-transform: rotate(360deg); } }
@-o-keyframes spin { 100% { -o-transform: rotate(360deg); } }
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }






// =====================
// = Additional Files: =
// =====================
@import 'fk_styles/sorting';
@import 'fk_styles/fixed_table_header';