$fixed-table-header-bg: rgb(255, 255, 255) !default;
$fixed-table-header-transparency: 0.85 !default;

table.floatThead-table{
  background-color: rgba($fixed-table-header-bg, $fixed-table-header-transparency);
}

.floatThead-floatContainer{
  border-bottom: 1px solid #ddd;
}