th a.current{
  padding-right: 24px;
  background-repeat: no-repeat;
  background-position: right center;
}

th a.asc{
  background-image: image-url('direction/up.png');
}

th a.desc{
  background-image: image-url('direction/down.png');
}